@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,300&display=swap');
 
* {
  font-family: 'Montserrat', sans-serif;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    font-size: 1rem; 
    background: #1c1c1c;
    margin: 0 auto;
}

.main-wrapper {
    background-color: green;
    height: 100vh;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.main {
    background: blue;
    width: 100%;
    max-width: 400px;
    min-width: 400px;
    position: relative;
    margin: 0 auto;
    /* background: #202628; */
    border-radius: .5em;
}

@media only screen and (max-device-width: 780px) {
    .main-wrapper {
        background-color: yellow;
        height: 100vh;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    .main {
        background: blue;
        width: 100%;
        max-width: 400px;
        min-width: 300px;
        position: relative;
        margin: 0 auto;
        /* background: #202628; */
        border-radius: .5em;
        transform: scale(1.9);
    }
}

.header {
    padding-left: .5em;
    margin-top: .4em;
    color: #ffffff;
    font-size: 1.4rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1.5em;
}

.filter-img {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 7%;
    filter: invert(100%);
}

.filter {
    display: none;
    transition: all 1s;
    width: 100%;
    padding: .5em;
    background: #1d2122;
}

.filter p {
    text-transform: capitalize;
    margin-bottom: .3em;
    font-size: .8rem;
    color: #b8b8b8;
}

.main.show .filter {
    display: flex;
    justify-content: space-between;
}

.filter .title-filter-section {
    width: 50%;
    margin-right: auto;
} 

.filter .title-filter-section input {
    width: 100%;
    border: 1px solid #b8b8b8;
    border-radius: .1rem;
    outline: none;
    padding: .3em;
    margin-top: .3em;
}

.filter .title-filter-section input:active, 
.filter .title-filter-section input:focus {
    outline: 2px solid#b8b8b8;
}

.filter .month-filter-section {
    width: 45%;
}

.filter .month-filter-section .calender {
    height: 1.5rem;
    margin-top: .3em;
    outline: none;
    border-radius: .1rem;
}

.filter .month-filter-section .calender:active, 
.filter .month-filter-section .calender:focus {
    outline: 2px solid#b8b8b8;
}

.list {
    overflow-y: scroll;
    padding-left: .3em;
    max-height: 28rem;
    width: 95%;
    margin-bottom: .3em;
    margin-top: .5em;
    background: #353a3c;
}

.list::-webkit-scrollbar {
    width: 5px;
    height: 2.5px;
}

.list::-webkit-scrollbar-thumb {
    background: #353a3c;
}

.list::-webkit-scrollbar-thumb:hover {
    background: #202628;
}

.list::-webkit-scrollbar-track {
    background: #f7f5f5;
}

.note-wrapper {
    list-style: none;
    padding: .5em;
    margin-top: .3em;
    background: #202628;
}

.title-date-ellipsis {
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid #b8b8b8;
    color: #b8b8b8;
}

.title {
    margin-right: auto;
    font-size: .9rem;
    width: 60%;
    padding-left: .2em;
    padding-right: .2em;
    padding-top: .1em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.1;
    max-height: 2*1.1;
}

.date {
    font-size: .6rem;
    width: 30%;
    margin-left: .5em;
}

.elipsis {
    margin-left: 1.2em;
    width: 10%;
    filter: invert(70%);
}

.description {
    margin-top: .5em;
    margin-bottom: .3em;
    padding-top: .4em;
    padding-left: .3em;
    padding-right: .3em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.2;
    max-height: 2*1.2;
    font-size: .9rem;
    background: #272c2d;
    color: #ffffff;

}

.del-edit {
    position: absolute;
    background: #272c2d;
    right: 0;
    top: 0;
    z-index: 1;
    transform: scale(0);
    transform-origin: right;
}

/*.main.appear .del-edit {
    transform: scale(1);
}*/

/*.del-edit.appear {
    transform: scale(1);
}*/

.elipsis.appear .del-edit {
    transform: scale(1);
}

.toggle {
    display: flex;
    padding: .3em;
    align-items: center;
    text-transform: capitalize;
    gap: .2em;
    font-size: .9rem;
    transition: all .2s ease-out;
}

.edit-img,
.del-img {
    width: 1rem;
    filter: invert(70%);
}

.toggle:hover {
    background: #1d2122;
    border-bottom: 1px solid #353a3c;
    border-left: 1px solid #353a3c;
    /* border-right: 1px solid #353a3c; */
    color: #fff;
}

.toggle:active {
    transform: scale(.98);
}


.toggle:hover .edit-img,
.toggle:hover .del-img{
    filter: invert(100%);
}

/* @media (min-width:300px) {

    body {
        display: none;
    }
} */

.popup-wrapper {
    z-index: 2;
    position: absolute;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}


.main.popup .popup-wrapper {
    transform: scale(1);
}

#form{
    z-index: 3;
    border: 1px solid #b8b8b8;
    background: 0, 0, 0, .5;
    backdrop-filter: blur(20px);
    padding: .5em;
}

#form label {
    display: block;
    color: #b8b8b8;
    text-transform: capitalize;
    padding-bottom: .3em;
}

.add-btn {
    display: block;
}

.popup-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .3em;
}

.popup-header {
    color: #b8b8b8;
}

.popup-head .close-btn { 
    filter: invert(70%);
}

.close-btn {
    width: 1.4rem;
}

#input-post {
    width: 100%;
    margin-bottom: 1rem;
    padding: .5em;
    outline: none;
}

#text-area {
    width: 100%;
    height: 150px;
    resize: none;
    margin-bottom: 1rem;
    outline: none;
}

#input-post:focus, #text-area:focus {
    outline: 3px solid #b8b8b8;
}

.add-btn {
    width: 100%;
    padding: .5em;
    text-transform: capitalize;
}

.add-btn:hover {
    background: #b8b8b8;
}

.add-btn:active {
    color: #ffffff;
}

.add-section {
    width: 100%;
    margin-bottom: 1.5em;
    display: flex;
    justify-content: center;
}

.add {
    width: 2rem;
    filter: invert(70%);
}

.add:hover {
    filter: invert(100%);
}

.add:active {
    filter: invert(70%);
}